@media screen and (max-width: 768px){
    .top-header-content{
        height: 15rem;
        width: 100vw !important;
        background-color: red;
    }
    .business-time-item{
        width: 90% !important;
        left: 5% !important;
    }
}